apiVersion: v1
kind: Service
metadata:
  name: lifecycle-operator-metrics-service
spec:
  ports:
  - name: metrics
    port: 2222
    protocol: TCP
    targetPort: 8081
    nodePort: 31444
  type: NodePort